html {
  --main-color: #000000;
  --secondary-color: #00ACDC;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

header {
  color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-content: baseline;
  height: 60px;
  padding: 0 50px;
}
ul {
  display: flex;
  list-style: none;
  height: 60px;
  margin: 0;
  align-items: baseline;
  text-transform:uppercase;
}

li {
  display: flex;
  margin: 0 10px;
 }

img {
  margin: 10px 0;
}

.nav__link {
  height: 15px;
  text-decoration: none;
  color: var(--main-color);
}

.is-active {
  padding:  50% 0;
  color: var(--secondary-color);
  position: relative;
}

.nav__link:hover {
  color: var(--secondary-color);
}

.is-active::after {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  content: '';
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  bottom: 0;
  width: 100%;
}
